# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FEB-Course.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\FEB-Course\.idea\.idea.FEB-Course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
